body {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	justify-content: center;
	overflow-x: hidden;
	overflow-y: hidden;
	/*display: none;*/ /*для пароля*/
}

* a {
	text-decoration: none;
	color: #fff;
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Manrope', sans-serif;
	padding: 0;
}

.title {
	width: 21%;
  display: block;
  white-space: nowrap;
  margin: 0 auto;
  padding-top: 35px;
}


.title p {
	height: 1.5px;
    text-align: center;
    width: 40%;
    background-color: #d54c4c;
    margin: 0 auto;
}

.title h2 {
	text-align: center;
	color: #303030;
	margin: 6px 0px;
	position: relative;
	font-size: 40px;
}

header {
	width: 100%;
	height: 100vh;
	min-height: 400px;
    background: transparent;
	position: relative;
	/*background-color: #000;*/
	display: block;
	/*background-image: url(../image/mac-3.png);*/
	background-repeat: no-repeat;
	background-size: cover;
}

.present {
	position: absolute;
	display: block;
	top: 35%;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
	white-space: nowrap !important;
}

.hidden {
	display: none;
}


/*auto-text*/
.present_words {
	position: relative;
	top: -35px;
	font-size: 75px;
	font-weight: normal;
	color: #fff;
	font-family: sans-serif;
	letter-spacing: 1px;
}

.typed-cursor {
	color: #fff;
	font-size: 75px;
	position: relative;
}


.present h2 {
	font-size: 31px;
	margin-bottom: 50px;
	color: #fff;
	font-family: 'Century Gothic', sans-serif;
	font-weight: normal;
	letter-spacing: 2px;
}

.arrow {
	width: 33px;
	height: 65px;
	border: 2px solid #fff;
	border-radius: 30px;
	position: absolute;
	bottom: 35px;
    left: 50%;
    transform: translate(-50%);
}


.arrow-point {
	margin: 0 auto;
	position: relative;
	top: 12px;
	width: 9px;
	height: 9px;
	background-color: #fff;
	border-radius: 50%;
	animation: 1.5s arrow infinite;
}

@keyframes arrow {
	0% {
		position: relative;
		top: 12px;
	}
	100% {
		position: relative;
		top: 42px;
		opacity: 0;
	}
}



content {
	width: 100%;
	height: auto;
	position: relative;
	display: block;
}

.about {
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    bottom: -50px;
    opacity: 0;
    /*opacity: 1;*/
    padding: 70px 40px;
}

.about-description {
	width: 33%;
}

.about-description h2 {
	text-align: center;
	color: #212121;
	font-family: "Poiret One", sans-serif;
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 10px;
}

.about-description h3 {
	position: relative;
	text-align: center;
	color: #212121;
	margin-bottom: 10px;
	font-weight: bolder;
	font-family: 'Poiret One', sans-serif;
}


.about-description p {
	margin: 0;
	text-align: center;
	position: relative;
	font-size: 20px;
	font-family: 'Poiret One', sans-serif;
	font-weight: bold;
	line-height: 32px;
}

.about-wrap {
	position: relative;
	height: 415px;
	width: 24%;
	border-radius: 6px;
	overflow: hidden;
    cursor: pointer;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: transform .2s;
}

.about-wrap img {
	position: absolute;
  height: 110%;
  top: -4%;
  width: auto;
  -webkit-filter: brightness(.9);
}

.about-skills {
	width: 35%;
}

.about-skills_wrap {
	display: block;
	margin-bottom: 30px;
}

.about-skills_wrap-txt {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.about-skills h3 {
	position: relative;
	top: 5px;
	text-align: center;
	color: #212121;
	font-size: 25px;
	letter-spacing: 1px;
}

.about-skills h4 {
	font-size: 15px;
}

.about-skills h6 {
	font-family: sans-serif;
	font-size: 13px;
}

.about-skills_progress {
	width: 100%;
	height: 5px;
	background-color: #bababa;
	position: relative;
	box-sizing: border-box;
}

.about-skills_progress-percent {
	width: 0%;
	height: 100%;
	background-color: #515151;

}


/*Nav slider*/
.slider_items {
	width: 100%;
	height: auto;
	position: relative;
	display: block;
	overflow: hidden;
	background-color: #e8e8e8;
}

.rec {
	opacity: 0;
}

nav h1 {
	text-align: center;
	color: #303030;
	position: relative;
	top: 25px;
	font-size: 40px;
	font-family: 'Futura No 2 Book DEE';
	letter-spacing: 1px;
}

#hr-1 {
	width: 9%;
	position: relative;
	top: 47px;
	background-color: #e23434;
	border: 1px solid #e23434;
}

#hr-2 {
	width: 9%;
	position: relative;	
	top: 7px;
	background-color: #e23434;
	border: 1px solid #e23434;
}

.slider {
	width: 100%;
	position: relative;
	margin-top: 300px;
	/*padding-bottom: 100px;*/
}

.slick-dots {
	display: flex;
    list-style: none;
    position: relative;
    bottom: -10px;
    justify-content: space-between;
}


.slick-dots li {
}

.slick-dots .slick-active {
	/*background-color: grey;*/
}

.slick-dots button {
	width: 20px;
	outline: none;
	height: 20px;
	border: 1px solid grey;
	border-radius: 50%;
}

.slide {
	width: 25%;
	text-align: center;
	position: relative;
	outline: none;
}

.slide:hover img {
	-webkit-transform: rotate(360deg);
}

.slide:hover h2 {
	color: #e23434;
}

.slide img {
	width: 80px;
	height: 80px;
	align-items: center;
	align-self: center;
	margin: 0 auto;
	transition: .6s all ease;
	  -webkit-filter: contrast(1.1);
	  -o-filter: contrast(1.1);
}

.slide h2 {
	font-family: Century Gothic, sans-serif;
	color: #303030;
	position: relative;
	top: 15px;
}

.slide p {
	width: 84%;
    left: 8%;
	position: relative;
	top: 10px;
	color: #262626;
	font-size: 21px;
	font-family: 'Futura No 2 Book DEE';
	word-spacing: 2px;
}

.button {
	text-align: center;
	align-items: center;
	align-self: center;
	margin: 0 auto;
	align-content: center;
	position: relative;
	top: 140px;
	display: none;
}

.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  position: relative;
  margin: 0 2px;
  border: 3px solid #545454;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #bcbcbc;
}


.counter {
	width: 100%;
    height: auto;
    background-color: #D54C4C;
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 80px 20px;
    box-sizing: border-box;
    justify-content: space-between;
    text-align: center;
}

.count {
	width: 100%;
	position: relative;
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	justify-content: space-around;
	color: #fff;
	font-family: sans-serif;
}

.counter-wrap {
	width: 25%;
	display: block;
	align-items: center;
}

.counter-nums {
	font-size: 50px;
	font-family: 'Manrope';
	font-weight: normal;
	position: relative;
	margin: 0;
	margin-bottom: 30px;
}


.counter-wrap i {
	font-size: 35px;
}



.works {
	width: 100%;
	overflow: hidden;
	background-color: #5995b7;
	position: relative;
}

.works-container {
	width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  cursor: pointer;
}

.works-container-item {
	width: 300px;
	height: 300px;
	overflow: hidden;
	position: relative;
	margin: 0px 10px;
	background-color: #d80f4d;	
}

.works-container-item img {
	  width: auto;
    height: 110%;
    position: relative;
    left: -45px;
    margin: 0 auto;
    transition: .3s all;
}

/*.works-container-item:nth-child(2) img {
	left: -100px;
}
*/
.works-container-item-text {
	width: 84%;
	height: 84%;
	display: none;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
	border: 1px solid;
	z-index: 4;
}


.works-container-item-text h1 {
	color: #fff;
  font-family: 'Poiret One';
  margin-top: 20px;
}

.works-container-item-text p {
	color: #fff;
	font-family: 'Manrope', sans-serif;
	font-size: 17px;
	position: relative;
}

.works-container-item-text a {
	font-family: 'Poiret One';
  top: 20px;
  position: relative;
}



.works-container-item:hover .works-container-item-text {
	display: block;
}

.works-container-item:hover  img{
	-webkit-opacity: .3;/*.7*/
	left: -15px;
}

.contacts {
	background: #fff;
  display: block;
}

.contacts-wrap {
	 display: flex;
   justify-content: space-between;
   align-items: center;
   width: 80%;
   padding: 83px 0px;
   margin: 0 auto;
   position: relative;
}

.contacts-wrap-item {
	width: 19%;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
	text-align: center;
  padding: 20px;
  transition: .2s all;
  cursor: pointer;
}

.contacts-wrap-item:hover {
	width: 23%;
}

.contacts-wrap-item i {
	color: #D54C4C;
  font-size: 25px;
}

.contacts-wrap-item h2 {
	font-size: 18px;
	font-weight: 600;
  margin-top: 12px;
  margin-bottom: 8px;
  font-family: 'Manrope', sans-serif;
}

.contacts-wrap-item span {
	position: relative;
  padding-top: 59px;
  font-size: 17px;
  font-family: 'Poiret One';
}

.contacts-wrap-item-icons {
	display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 48%;
  position: relative;
  top: 6px;
}

footer {
	width: 100%;
	height: 80px;
	background-color: #212121;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poiret One', sans-serif;
}

.copyright {
	position: relative;
	/*margin-top: -20px;*/
}

footer h3 {
	text-align: center;
	color: #fff;
	font-family: sans-serif;
	font-size: 15px;
	word-spacing: 2px;
	letter-spacing: 1px;
	position: relative;
	/*top: 20px;*/
	font-weight: normal;
}

footer span {
	font-size: 18px;
	font-weight: normal;
	color: #1a4fa3;
}

